.App {
  text-align: center;
}

.addPage {
  margin-left: 33%;
}

main {
  width: 85vw;
  min-height: 40vh;
  max-width: 500px;
  margin: 35px auto;
  background: white;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.hidden {
  display: none;
}

.show {
  display: block;
}
.restCard{
  width: 275px;
  height: 235px;
}

.expandedCard {
  width: 569px;
  height: 505px;
  border-radius: 5px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.expandedCard img {
  width: 567px;
  height: 176px;
  border-radius: 5px;
}

.restaurant-list {
  width: 600px;
}

.logoutBtn{
  display: flex;
}
.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  margin-bottom: 20px;
  width: 80%;
}
.cardTitle{
  margin-bottom: 30px;
}